In [1]:
import pandas as pd

# Load the data into a DataFrame
df_t = pd.read_csv('tourist_spots.csv')

# Sort the DataFrame based on a specific column, for example, 'Name'
df_travel = df_t.sort_values(by='State')

# Save the sorted DataFrame to a new CSV file
df_travel.to_csv('tourist_spotss.csv', index=False)
# Display the sorted DataFrame (optional)
print(df_travel)

     Unnamed: 0      Zone                        State             City  \
292         292  Southern  Andaman and Nicobar Islands      Neil Island
291         291  Southern  Andaman and Nicobar Islands  Havelock Island
290         290  Southern  Andaman and Nicobar Islands       Port Blair
293         293  Southern  Andaman and Nicobar Islands  Baratang Island
253         253  Southern               Andhra Pradesh          Kurnool
..          ...       ...                          ...              ...
45           45   Eastern                  West Bengal          Kolkata
44           44   Eastern                  West Bengal          Kolkata
43           43   Eastern                  West Bengal          Kolkata
50           50   Eastern                  West Bengal          Kolkata
215         215   Eastern                  West Bengal       Darjeeling

                         Name             Type Establishment Year  \
292           Bharatpur Beach            Beach            Unknown
291          Radhanagar Beach            Beach            Unknown
290             Cellular Jail         Landmark               1906
293           Limestone Caves  Natural Feature            Unknown
253               Belum Caves             Cave            Unknown
..                        ...              ...                ...
45   Dakshineswar Kali Temple           Temple               1855
44              Indian Museum           Museum               1814
43              Howrah Bridge           Bridge               1943
50                 Belur Math             Site               1898
215                Tiger Hill    Sunrise Point            Unknown

     time needed to visit in hrs  Google review rating  Entrance Fee in INR  \
292                          1.0                   4.5                    0
291                          1.0                   4.8                    0
290                          1.5                   4.7                   30
293                          1.5                   4.4                  250
253                          1.5                   4.4                   65
..                           ...                   ...                  ...
45                           1.0                   4.7                    0
44                           2.0                   4.6                   50
43                           0.5                   4.6                    0
50                           1.5                   4.7                    0
215                          1.0                   4.5                    0

    Airport with 50km Radius Weekly Off    Significance DSLR Allowed  \
292                       No       None          Nature          Yes
291                       No       None          Nature          Yes
290                      Yes     Monday      Historical          Yes
293                       No       None          Nature          Yes
253                      Yes       None  Natural Wonder          Yes
..                       ...        ...             ...          ...
45                       Yes       None       Religious          Yes
44                       Yes     Monday      Historical          Yes
43                       Yes       None   Architectural           No
50                       Yes       None       Religious          Yes
215                       No       None          Nature          Yes

     Number of google review in lakhs Best Time to visit  Entry Fee  \
292                             0.040            Morning        NaN
291                             0.090            Morning        NaN
290                             0.120          Afternoon        NaN
293                             0.015            Morning        NaN
253                             0.110          Afternoon        NaN
..                                ...                ...        ...
45                              0.820            Morning        NaN
44                              0.180            Morning        NaN
43                              1.200            Anytime        NaN
50                              0.470            Morning        NaN
215                             0.025                All        NaN

     Most Visited Month  Domestic visits (number of people)  \
292                 NaN                                 NaN
291                 NaN                                 NaN
290                 NaN                                 NaN
293                 NaN                                 NaN
253                 NaN                                 NaN
..                  ...                                 ...
45                  NaN                                 NaN
44                  NaN                                 NaN
43                  NaN                                 NaN
50                  NaN                                 NaN
215                 NaN                                 NaN

     Tourist visits (number of people)
292                                NaN
291                                NaN
290                                NaN
293                                NaN
253                                NaN
..                                 ...
45                                 NaN
44                                 NaN
43                                 NaN
50                                 NaN
215                                NaN

[325 rows x 20 columns]

In [2]:
# Load the data into a DataFrame
df = pd.read_csv('temperatur.csv')

# Sort the DataFrame based on a specific column, for example, 'Name'
sorted_df = df.sort_values(by='States')

# Save the sorted DataFrame to a new CSV file
sorted_df.to_csv('temperature.csv', index=False)
# Display the sorted DataFrame (optional)
print(sorted_df)

                        States    Jan    Feb    Mar    Apr    May   June  \
21  andaman and nicobarislands  26.20  26.60  27.30  28.30  27.80  27.40
30               andhra padesh  24.30  26.20  29.00  31.30  33.50  31.30
17           arunachal pradesh  -2.40  -1.00   1.60   4.80   8.00  11.20
22                       assam  17.60  20.20  23.90  25.10  26.10  27.30
0                        bihar  18.65  22.88  30.00  36.25  38.52  37.44
19                  chandigarh  12.20  15.40  20.80  27.50  31.30  31.70
28                chhattisgarh  20.00  23.60  28.00  32.60  35.10  31.10
8       dadra and nagar haveli  25.11  26.34  28.72  30.52  30.95  29.79
4                          goa  27.96  28.84  29.30  30.77  30.84  28.13
7                      gujarat  23.52  26.32  30.88  34.61  35.80  33.81
27                     haryana  15.77  19.57  26.11  33.98  38.93  39.59
16            himachal pradesh   6.50   8.60  12.70  17.80  22.00  23.70
32           jammu and kashmir  10.50  13.00  17.70  23.90  29.10  30.70
31                   jharkhand  15.50  19.40  23.90  28.60  29.80  27.90
26                   karnataka  20.70  22.80  25.40  26.60  25.50  23.20
11                      kerala  28.00  28.00  29.00  30.00  29.00  27.00
3               madhya Pradesh  20.23  24.74  30.52  36.27  39.24  35.40
23                 maharashtra  23.90  24.70  26.70  28.20  29.00  27.40
12                     manipur  20.60  24.30  28.10  30.70  30.00  27.90
1                    meghalaya  13.04  15.79  18.93  20.63  21.53  22.30
10                     mizoram  18.33  21.73  25.92  28.69  28.62  27.10
29                    nagaland  15.90  18.20  21.50  23.50  25.20  26.70
14                      odisha  21.20  24.80  28.40  30.70  31.70  30.20
20                  puducherry  24.80  25.70  27.40  29.20  30.40  30.20
2                       punjab  14.09  17.69  24.01  32.07  37.67  39.46
5                     rajastan  17.78  21.70  27.96  34.20  37.89  37.67
24                      sikkim   9.40  10.90  13.70  16.60  18.70  20.30
18                  tamil nadu  24.30  25.30  27.40  29.60  31.30  30.80
6                    telangana  24.46  27.69  31.86  35.60  37.57  31.83
25                     tripura  18.50  21.70  25.60  27.40  27.60  27.50
9                uttar pradesh  17.59  21.50  28.63  35.79  39.58  38.81
13                 uttarakhand  10.80  13.50  18.30  23.90  27.20  27.90
15                 west bengal  19.00  22.70  27.10  29.90  30.60  29.50

      July    Aug    Sep    Oct    Nov    Dec
21    27.1  26.90  26.70  26.70  26.90  26.60
30    29.2  28.40  28.10  27.10  25.50  24.20
17    12.1  11.90  10.50   6.70   2.80  -0.20
22    27.5  27.70  27.00  25.30  22.00  18.90
0    33.02  32.33  30.98  28.13  25.02  20.85
19    28.8  27.70  26.70  23.70  18.80  14.00
28    26.8  26.30  26.70  25.60  22.70  20.00
8    27.88  27.26  27.62  29.10  28.31  26.22
4   26.71)  26.63  27.19  28.38  28.80  28.39
7     29.9  28.65  29.39  32.04  29.36  25.14
27   35.94  33.76  32.69  30.36  24.34  18.48
16    22.7  22.10  20.30  16.30  12.10   8.40
32    28.4  27.30  25.60  21.60  16.40  12.00
31    25.1  24.70  24.40  22.60  19.30  16.10
26    22.4  22.20  22.40  22.00  20.90  20.10
11      27  27.00  27.00  27.00  27.00  28.00
3    29.37  27.73  28.16  27.51  24.53  20.80
23    25.9  25.60  26.10  27.30  27.00  25.10
12    27.6  27.40  26.40  26.40  23.60  20.80
1    22.13  22.27  21.64  19.66  16.77  14.00
10    26.4  26.48  26.36  25.29  22.58  19.48
29    26.8  26.70  25.90  23.60  20.00  16.90
14    28.1  27.70  27.60  26.60  23.90  21.30
20    29.8  29.20  28.80  27.40  25.90  25.00
2    36.28  33.04  31.69  29.33  23.25  17.20
5       34  31.21  31.24  30.31  24.77  19.27
24    20.3  20.40  19.60  17.30  13.90  11.00
18      30  29.20  28.70  27.30  25.70  24.60
6    27.81  26.91  27.30  26.78  25.14  23.80
25    27.1  27.30  27.00  25.90  22.70  19.50
9     33.7  32.10  31.12  29.07  25.10  20.12
13    25.8  25.20  23.90  20.50  16.10  12.10
15    28.1  27.90  27.60  26.30  23.30  20.10

In [3]:
df_travel.shape

(325, 20)

In [4]:
print(df_travel.head)

<bound method NDFrame.head of      Unnamed: 0      Zone                        State             City  \
292         292  Southern  Andaman and Nicobar Islands      Neil Island
291         291  Southern  Andaman and Nicobar Islands  Havelock Island
290         290  Southern  Andaman and Nicobar Islands       Port Blair
293         293  Southern  Andaman and Nicobar Islands  Baratang Island
253         253  Southern               Andhra Pradesh          Kurnool
..          ...       ...                          ...              ...
45           45   Eastern                  West Bengal          Kolkata
44           44   Eastern                  West Bengal          Kolkata
43           43   Eastern                  West Bengal          Kolkata
50           50   Eastern                  West Bengal          Kolkata
215         215   Eastern                  West Bengal       Darjeeling

                         Name             Type Establishment Year  \
292           Bharatpur Beach            Beach            Unknown
291          Radhanagar Beach            Beach            Unknown
290             Cellular Jail         Landmark               1906
293           Limestone Caves  Natural Feature            Unknown
253               Belum Caves             Cave            Unknown
..                        ...              ...                ...
45   Dakshineswar Kali Temple           Temple               1855
44              Indian Museum           Museum               1814
43              Howrah Bridge           Bridge               1943
50                 Belur Math             Site               1898
215                Tiger Hill    Sunrise Point            Unknown

     time needed to visit in hrs  Google review rating  Entrance Fee in INR  \
292                          1.0                   4.5                    0
291                          1.0                   4.8                    0
290                          1.5                   4.7                   30
293                          1.5                   4.4                  250
253                          1.5                   4.4                   65
..                           ...                   ...                  ...
45                           1.0                   4.7                    0
44                           2.0                   4.6                   50
43                           0.5                   4.6                    0
50                           1.5                   4.7                    0
215                          1.0                   4.5                    0

    Airport with 50km Radius Weekly Off    Significance DSLR Allowed  \
292                       No       None          Nature          Yes
291                       No       None          Nature          Yes
290                      Yes     Monday      Historical          Yes
293                       No       None          Nature          Yes
253                      Yes       None  Natural Wonder          Yes
..                       ...        ...             ...          ...
45                       Yes       None       Religious          Yes
44                       Yes     Monday      Historical          Yes
43                       Yes       None   Architectural           No
50                       Yes       None       Religious          Yes
215                       No       None          Nature          Yes

     Number of google review in lakhs Best Time to visit  Entry Fee  \
292                             0.040            Morning        NaN
291                             0.090            Morning        NaN
290                             0.120          Afternoon        NaN
293                             0.015            Morning        NaN
253                             0.110          Afternoon        NaN
..                                ...                ...        ...
45                              0.820            Morning        NaN
44                              0.180            Morning        NaN
43                              1.200            Anytime        NaN
50                              0.470            Morning        NaN
215                             0.025                All        NaN

     Most Visited Month  Domestic visits (number of people)  \
292                 NaN                                 NaN
291                 NaN                                 NaN
290                 NaN                                 NaN
293                 NaN                                 NaN
253                 NaN                                 NaN
..                  ...                                 ...
45                  NaN                                 NaN
44                  NaN                                 NaN
43                  NaN                                 NaN
50                  NaN                                 NaN
215                 NaN                                 NaN

     Tourist visits (number of people)
292                                NaN
291                                NaN
290                                NaN
293                                NaN
253                                NaN
..                                 ...
45                                 NaN
44                                 NaN
43                                 NaN
50                                 NaN
215                                NaN

[325 rows x 20 columns]>