In [ ]:
import pandas as pd

# Load the data into a DataFrame
df_t = pd.read_csv('tourist_spots.csv')

# Sort the DataFrame based on a specific column, for example, 'Name'
df_travel = df_t.sort_values(by='State')

# Save the sorted DataFrame to a new CSV file
df_travel.to_csv('tourist_spots_sorted.csv', index=False)
# Display the sorted DataFrame (optional)
#print(df_travel)

In [ ]:
# Load the data into a DataFrame
df = pd.read_csv('temperatur.csv')

# Sort the DataFrame based on a specific column, for example, 'Name'
sorted_df = df.sort_values(by='States')

# Save the sorted DataFrame to a new CSV file
sorted_df.to_csv('temperature_sorted.csv', index=False)
# Display the sorted DataFrame (optional)
#print(sorted_df)

# Data Cleaning and Pre-Processing

Load Dataset

In [4]:
# Import necessary libraries
import pandas as pd

# Load the CSV file
file_path = 'tourist_spots_sorted.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
data.head()

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,292,Southern,Andaman and Nicobar Islands,Neil Island,Bharatpur Beach,Beach,Unknown,1.0,4.5,0,No,None,Nature,Yes,0.040,Morning
1,291,Southern,Andaman and Nicobar Islands,Havelock Island,Radhanagar Beach,Beach,Unknown,1.0,4.8,0,No,None,Nature,Yes,0.090,Morning
2,290,Southern,Andaman and Nicobar Islands,Port Blair,Cellular Jail,Landmark,1906,1.5,4.7,30,Yes,Monday,Historical,Yes,0.120,Afternoon
3,293,Southern,Andaman and Nicobar Islands,Baratang Island,Limestone Caves,Natural Feature,Unknown,1.5,4.4,250,No,None,Nature,Yes,0.015,Morning
4,253,Southern,Andhra Pradesh,Kurnool,Belum Caves,Cave,Unknown,1.5,4.4,65,Yes,None,Natural Wonder,Yes,0.110,Afternoon

Check for NAN Values

In [5]:
# Check for NaN values
print("NaN Values:")
print(data.isna().sum())

# Check for rows with NaN values
print("Rows with NaN values:")
print(data[data.isna().any(axis=1)])

NaN Values:
Unnamed: 0                          0
Zone                                0
State                               0
City                                0
Name                                0
Type                                0
Establishment Year                  0
time needed to visit in hrs         0
Google review rating                0
Entrance Fee in INR                 0
Airport with 50km Radius            0
Weekly Off                          0
Significance                        0
DSLR Allowed                        0
Number of google review in lakhs    0
Best Time to visit                  0
dtype: int64
Rows with NaN values:
Empty DataFrame
Columns: [Unnamed: 0, Zone, State, City, Name, Type, Establishment Year, time needed to visit in hrs, Google review rating, Entrance Fee in INR, Airport with 50km Radius, Weekly Off, Significance, DSLR Allowed, Number of google review in lakhs, Best Time to visit]
Index: []

Check for Duplicates

In [6]:
# Check for duplicate rows
print("Duplicate Rows:")
print(data[data.duplicated()])

# Drop duplicate rows
#data_no_duplicates = data.drop_duplicates()

Duplicate Rows:
Empty DataFrame
Columns: [Unnamed: 0, Zone, State, City, Name, Type, Establishment Year, time needed to visit in hrs, Google review rating, Entrance Fee in INR, Airport with 50km Radius, Weekly Off, Significance, DSLR Allowed, Number of google review in lakhs, Best Time to visit]
Index: []